// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$$$____GENERALS___$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

@use "../scss/abstracts" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Epilogue", sans-serif;
}

body,
html {
	overflow-x: hidden;
}
body {
	position: relative;
}
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$____NAVIGATION___$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

.snap-logo {
	position: absolute;
	left: 1rem;
	top: 2rem;
}
.navigation-bar {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 2.2rem;
	margin-left: 5rem;
	ul {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		align-items: center;
		li {
			list-style: none;
			color: $gray;
			cursor: pointer;
		}
	}
}

.toggle-btn {
	display: none;
}

.dropdown {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.arrow {
	transition: transform 1000ms ease-in-out;
}

.arrow.active {
	transform: rotate(180deg);
}

.navigation-bar ul li:hover,
.navigation-bar ul li:active {
	color: $black;
}

.register {
	padding: 0.7rem 1rem;
	border: solid 2px $black;
	border-radius: 10px;
}

// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$______DROPDOWNS_____$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

.dropdown {
	position: relative;
}

.dropdown-menu {
	position: absolute;
	top: calc(100% + 1rem);
	right: 0;
	background-color: $white;
	border-radius: 10px;
	padding: 1.2rem;
	box-shadow: 0px 15px 30px 10px rgba(207, 204, 204, 0.4);
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
	ul {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 1.3rem;
		min-width: 75px;
		li {
			display: flex;
			gap: 0.7rem;
			align-self: flex-start;
		}
	}
}

.dropdown-menu.active {
	opacity: 1;
	transform: translateY(0px);
}

// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$______MAIN_____$$$$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

.main {
	display: flex;
	flex-direction: row;
	flex-shrink: 1;
	gap: 5rem;
	justify-content: space-around;
	margin: 3rem auto;
	max-width: 90vw;
	align-items: flex-end;
}

// ^^^^^^^^^^^^^^^^__TEXT CONTAINER__^^^^^^^

.text-container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	max-width: 38vw;
	h1 {
		font-size: 4.5rem;
	}
	p {
		color: $gray;
		max-width: 25vw;
		line-height: 1.5rem;
	}

	.learn-btn {
		width: 150px;
		padding: 1rem 2rem;
		border: solid 2px $black;
		background-color: $black;
		color: $white;
		border-radius: 15px;
		cursor: pointer;
		transition: 350ms ease-in-out;
	}
}
.learn-btn:hover,
.learn-btn:active {
	background-color: $white;
	color: $black;
}

.logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
	li {
		list-style: none;
	}
	img {
		width: 100%;
	}
}

// ^^^^^^^^^^^^^^^^__IMAGE CONTAINER__^^^^^^^

.image-container {
	height: 700px;
	width: 38vw;
	min-width: 510px;
	background-image: url("../images/image-hero-desktop.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
}

// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// $$$$$$$$$$$______MEDIA Q_____$$$$$$$$$$$$
// $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

@media (max-width: "1350px") {
	main {
		gap: 1rem;
	}
	h1 {
		font-size: 3.5rem;
	}
	.logos {
		margin-top: 50px;
	}
	.logos li img {
		width: 90%;
	}
}

@media (max-width: "1100px") {
	.image-container {
		min-width: 450px;
		height: 600px;
	}

	.logos li img {
		width: 80%;
	}

	.logos {
		margin-top: 30px;
	}
}

@media (max-width: "850px") {
	.image-container {
		min-width: 370px;
		height: 500px;
	}
}

@media (max-width: "850px") {
	.main {
		flex-direction: column-reverse;
		align-items: center;
		gap: 3rem;
	}

	.image-container {
		height: 500px;
		width: 90vw;
		min-width: 510px;
		background-image: url("../images/image-hero-mobile.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom;
	}

	.text-container {
		min-width: 90vw;
		align-items: center;
		h1 {
			text-align: center;
		}
		p {
			text-align: center;
			font-size: large;
			max-width: 60vw;
			line-height: 2rem;
		}
	}

	.logos {
		width: 85vw;
	}

	.logos li img {
		width: 100%;
	}
}

// -------------------------------------
// --------MOBILE---MEDIA---------------
// -------------------------------------

@media (max-width: "800px") {
	.body.active {
		display: block;
	}

	.body.active::before {
		position: absolute;
		display: block;
		width: 100vw;
		height: 100vh;
		left: 0;
		right: 0;
		top: -3rem;
		content: "";
		background-color: rgba(6, 6, 6, 0.5);
	}

	.snap-logo {
		position: fixed;
		left: 1rem;
		top: 1rem;
	}

	.toggle-btn {
		display: block;
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		width: 2rem;
		height: 2rem;
		background-image: url(../images/icon-menu.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-color: transparent;
		border: none;
		cursor: pointer;
	}

	.toggle-btn.active {
		background-image: url(../images/icon-close-menu.svg);
	}

	.navigation-bar {
		flex-direction: column;
		position: absolute;
		justify-content: flex-start;
		gap: 2rem;
		top: -3rem;
		right: 0;
		height: 100vh;
		width: 40vw;
		padding-top: 7rem;
		background-color: $white;
		transform: translateX(150px);
		opacity: 0;
		transition: opacity 300ms ease-out, transform 300ms ease-out;
		ul {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.navigation-bar.active {
		opacity: 1;
		transform: translateX(0);
	}

	#mobile-register {
		display: flex;
		align-items: center;
	}

	.register {
		width: 95%;
	}

	// ---------------------------------
	// ----------MOBILE DROPDOWNS-------
	// ---------------------------------

	.dropdown {
		position: relative;
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		height: 1rem;
	}

	.dropdown.active {
		height: 100%;
	}
	.arrow {
		position: absolute;
		top: 0.3rem;
		left: 5.5rem;
	}
	.dropdown-menu {
		position: static;
		visibility: hidden;
	}

	.dropdown-menu.active {
		visibility: visible;
		display: block;
		height: 100%;
	}
}

@media (max-width: "530px") {
	.text-container {
		h1 {
			font-size: 2.1rem;
			br {
				content: "";
			}
		}
		p {
			max-width: 85vw;
		}
	}

	.navigation-bar {
		width: 60vw;
	}

	.image-container {
		width: 100vw;
		height: 280px;
	}
}
